PORT=8080
HOST=localhost
GEMINI_API_KEY=
MISTRAL_API_KEY=
PROMPT_PATH=./prompt
# Example Gemini config:
# PROVIDER=gemini
# MODEL=gemini-2.0-flash
# Example Mistral config:
# PROVIDER=mistral
# MODEL=mistral-small-latest
